node_modules/
ui/node_modules/
api/node_modules/

.next/
ui/.next/
dist/
build/

*.tsbuildinfo
ui/tsconfig.tsbuildinfo

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
api/.env.example
